@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    --color: #2E8691;
}
body{
    background-color: #000;
}
body::-webkit-scrollbar-track {
    border-radius: 8px;
} 

body::-webkit-scrollbar {width: 10px;} 

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--color);
    border: 2px solid #000;
} 

.conteiner{
    max-width: 1440px;
    padding: 0px 18px;
    margin: auto;
}
.header{
    position: fixed;
    z-index: 3;
    width: 100%;
}
.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px;
}
.buttom{
    width: 150px;
    padding: 16px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.header-right{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
.header-right-navbar{
    padding: 18px;
    background: #171717;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.header-right-nav-link{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 15px;
}
.Parallax{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -1;
}
.main-about{
    padding: 155px 0px 95px 0px;
}
.main-inner{
    background: linear-gradient(to right, #000000 59%, var(--color) 41%);
    width: 100%;
}
.main-title{
    font-weight: 900;
    font-size: 122px;
    padding-top: 30px;
    line-height: 124px;
    letter-spacing: 0.03em;
}
.main-button-croll{
    display: flex;
    column-gap: 15px;
    cursor: pointer;
    align-items: center;
    margin-top: 90px;
}

.main-button-croll > span {
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    color: #A49797;
}
.main-content-info-title{
    font-weight: 700;
    font-size: 52px;
    line-height: 56px;
    margin-bottom: 50px;
}
.main-content-info-desc{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
    color: #A49797;
}
.main-content-info{
    margin-top: 240px;
    max-width: 544px;
}
.main-service{
    background-color: var(--color);
    padding: 50px 0px 150px 0px;
}
.main-service-item{
    width: 410px;
    height: 600px;
    position: relative;
}
.main-service-item-bg{
    width: 260px;
    height: 525px;
    background-color:#171717;
    right: 0px;
    top: 0px;
    position: absolute;
    z-index: 0;
}
.main-service-item-title{
    font-weight: 700;
    font-size: 52px;
    line-height: 56px;
    text-align: right;
    letter-spacing: -0.02em;
    z-index: 1;
    position: absolute;
    right: 76px;
    top: 34px;
}
.main-service-item-img-block{
    width: 356px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 356px;
    background-color: var(--color);
    box-shadow: 5px 13px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10.4818px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-service-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.title-block{
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
}
.parallax-sloy2{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.parallax-sloy15{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    background-color: #000;
}
.parallax-sloy3{
    width: 100%;
    position: absolute;
}
.main-bg{
    background-color: #000;
}
.main-contact{
    background-color: #171717;
    padding: 90px 10px;
}
.main-clients{
    background-color: #171717;
    padding: 0px 0px 190px 0px;
}
.main-contact-block{
    padding: 40px 90px;
    max-width: 1620px;
    margin: auto;
    background: #FAFAFA;
    border-radius: 20px;
}
.main-contact-block-left{
    max-width: 545px;
}
.main-contact-block-title{
    font-weight: 700;
    font-size: 52px;
    line-height: 56px;
    letter-spacing: -0.02em;
    color: #171717;
    margin-bottom: 50px;
}
.main-contact-block-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-contact-block-desc{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
    color: #171717;
}
.text-tehnosoft{
    width: 100%;
    height: 100vh;
    position: absolute;
    font-weight: 900;
    font-size: 122px;
    line-height: 124px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
}
.text-tehnosoft > span{
    width: min-content;
    display: block;
    margin-left: 15%;
    color:#172A39;
}
.main-contact-block-right > iframe {
    border-radius: 20px;
}
.logo-clients{
    width: 400px;
    height: 400px;
    background: #262626;
    border-radius: 10px;
}
.slider-client{
    width: 400px !important;
}
.main-skills{
    padding: 110px 0px 0px 0px;
    background: #171717;
    overflow: hidden;
}
.main-skills-one-title{
    font-weight: 800;
    font-size: 22px;
    line-height: 47px;
    letter-spacing: 0.505em;
    text-transform: uppercase;
    max-width: 403px;
}
.main-skills-one{
    height: 200px;
    position: relative;
    width: 100%;
}
.main-skills-two{
    background: #171717;
    padding: 80px 0px;
    position: relative;
}
.text-podlo{
    font-weight: 900;
    font-size: 255.997px;
    line-height: 262px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    position: absolute;
    z-index: 0;
}
.main-skills-one-text{
    bottom: -50%;
    left: 45%;
    color: #978989;
}
.main-skills-two-text{
    top: 0px;
    right: 60%;
    color: #2E8691;
}
.main-skills-three{
    position: relative;
    height: 200px;
    padding: 30px 0px;
}
.main-skills-three-text{
    color: #978989;
    left: 20%;
}
.main-skills-two-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 686px;
    margin-left: auto;
}
.main-team{
    padding: 100px 0px 40px 0px;
    background-color: #171717;
}
.main-team-slidere-item{
    width: 400px;
    position: relative;
    height: 600px;
}
.main-team-slidere-item-bg{
    background-color: #000;
    width: 250px;
    height: 525px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    right: 0;
}
.main-team-slidere-item-bg > span{
    font-size: 220px;
    font-weight: 900;
    transform: rotate(-90deg);
    display: block;
    margin-left: 80px;
    margin-bottom: -150px;
    color: #257680;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.main-team-slidere-item-image{
    width: 356px;
    height: 356px;
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 20px;
    box-shadow: 5px 13px 20px 10px rgba(0, 0, 0, 0.25);
    top: 20px;
}
.slider-navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.swiper-pagination-bullet{
    width: 25px !important;
    background-color: var(--color) !important;
    border-radius: 10px !important;
}
.slider-navigete-left > img{
    width: 30px;
    cursor: pointer;
    transform: scale(-1, -1);
    display: block;
}
.slider-navigete-righst > img{
    width: 30px;
    display: block;
    cursor: pointer;
}
.swiper-pagination-bullet-active{
    background-color: #ffffff !important;
}
.main-team-slidere-item-info{
    width: 356px;
    position: absolute;
    bottom: 120px;
    text-align: right;
    padding-right: 20px;
}
.main-team-slidere-item-info-name{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.main-team-slidere-item-info-desc{
    font-size: 20px;
}
.main-team-slider{
    padding-top: 30px;
}
.slider{
    overflow: inherit !important;
}
.team-slide{
    width: 400px !important;
}
.slider-navigate{
    margin-top: 30px;
}
.footer{
    padding: 64px 80px;
    background: #E5E5E5;
}
.footer-line{
    width: 100%;
    height: 1px;
    margin-bottom: 32px;
    background: #171717;
}
.footer-links{
    display: flex;
    column-gap: 24px;
    margin-bottom: 32px;
}
.footer-link{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #737373;
}
.footer-allrigts{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #A3A3A3;
}
.header-right-open-cloused{ 
    display: none;
}
.slider-navigate{
    padding-top: 30px;
}
.pdlo-parallax-bg{
    width: 100%;
    height: 100vh;
    background-color: #000;
    bottom:calc( -100% + 10px);
    position: absolute;
}
.parallax-sloy1{
    width: 100%;
    height: 100vh;
    background-image: url('../image/image\ 1.png');
    bottom: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute; 
}

@media (max-width: 1485px) {
    .main-team-slidere-item{
        width: 300px;
        height: 400px;
    }
    .team-slide{
        width: 300px !important;
    }
    .main-team-slidere-item-bg{
        width: 160px;
        height: 425px;
    }
    .main-team-slidere-item-bg > span{
        font-size: 200px;
    }
    .main-team-slidere-item-image{
        width: 256px;
        height: 256px;
    }
    .main-team-slidere-item-info{
        bottom: 30px;
        width: 256px;
    }
    .main-team-slidere-item-info-name{
        font-size: 20px;
    }
    .main-team-slidere-item-info-desc{
        font-size: 16px;
    }
    .text-tehnosoft{
        font-size: 82px;
        line-height: 84px;
    }
    .header-right-navbar{
        padding: 10px;
    }
    .buttom{
        padding: 10px;
    }
    .main-title{
        font-size: 92px;
        line-height: 94px;
        max-width: 800px;
    }
    .conteiner{
        max-width: 1280px;
    }
    .main-contact-block-right > iframe {
        width: 480px;
        height: 420px;
    }
    .main-contact-block-desc{
        margin-bottom: 30px;
    }
    .main-contact-block-title{
        margin-bottom: 30px;
    }
    .title-block{
        margin-bottom: 30px;
    }
    .slider-client{
        width: 320px !important;
    }
    .main-contact-block{
        padding: 40px ;
    }
    .logo-clients{
        width: 320px;
        height: 320px;
    }
    .main-service-item{
        width: 300px;
        height: 450px;
    }
    .main-service-item-bg{
        width: 160px;
        height: 425px;
    }
    .main-service-item-img-block{
        width: 256px;
        height: 256px;
    }
    .main-service-item-img-block > img{
        width: 100%;
    }
    .main-service-item-title{
        font-size: 38px;
        line-height: 40px;
    }
}
@media (max-width: 1280px) {
    .main-contact-block{
        padding: 40px 0px;
    }
    .main-content-info{
        margin-top: 150px;
    }
    .main-contact-block-right{
        margin-left: 15px;
    }
    .main-skills-two-title{
        width: 450px;
    }
    .slider {
        overflow: hidden !important;
    }
}
@media (max-width: 996px) {
    .main-contact-block-inner{
        display: block;
    }
    .main-contact-block-right > iframe{
        width: 100%;
    }
    .main-contact-block-right{
        margin-left: 0px;
        margin-top: 40px;
    }
    .main-contact-block-left-inner{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: start;
    }
    .main-contact-block-left{
        width: 100%;
        max-width: none;
    }
    .main-contact-left-inner-block{
        max-width: 545px;
    }
    .main-service-items{
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 40px;
        justify-content: space-around;
    }
    .main-title{
        font-size: 60px;
        line-height: 63px;
    }
    .buttom{
        min-width: 150px;
    }
    .main-contact-block-left-inner{
        column-gap: 15px;
    }
    .parallax-sloy3{
        height: 100%;
        width: auto;
    }
    .text-tehnosoft > span{
        margin-left: 10%;
    }
    .Parallax{
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .parallax-sloy1{
        width: 120%;
        right: 0;
    }
    .parallax-sloy2{
        width: 120%;
        right: 0;
    }
    .header-right{
        display: block;
        background: #171717;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .header-right-navbar{
        display: block;
    }
    .header-right-navbar > a{
        display: block;
        margin: 10px;
        text-align: center;
    }
    .header-inner{
        align-items: start;
    }
    .header-right-open-cloused{
        margin-top: 10px;
        text-align: right;
        padding: 0px 10px;
        display: block;
    }
    .header-right-open-cloused > img{
        width: 30px;
    }
    .header-right-navbar{
        padding: 0px 10px 10px 10px;
    }
    .header-right{
        overflow: hidden;
        width: 50px;
        transition: 200ms;
        height: 50px;
    }
    .header-right-active{
        transition: 200ms;
        width: 130px;
        height: 310px;
    }
    .header-right-active > .header-right-open-cloused > .header-right-open-cloused-menu{
        display: none;
    }
    .header-right-active > .header-right-open-cloused > .header-right-open-cloused-clou{
        display: block;
        margin-left: auto;
    }
    .header-right-open-cloused-clou{
        display: none;
    }
    .header-inner{
        padding: 18px;
    }
    .main-skills-one-text{
        left: 50%;
    }
    .main-skills-two-text{
        right: 80%;
    }
}
@media (max-width: 750px) {
    .main-skills-one-text{
        left: 75%;
    }
    .parallax-sloy1{
        width: 150%;
        right: 0;
    }
    .parallax-sloy2{
        width: 150%;
        right: 0;
    }
    .footer{
        padding: 40px;
    }
}
@media (max-width: 640px) {
    .main-skills-one-title{
        font-size: 18px;
        line-height: 30px;
    }
    .main-skills-two{
        padding: 40px 0px;
    }
    .main-skills-one{
        height: 150px;
    }
    .main-skills-one-text{
        bottom: -70%;
    }
    .text-podlo{
        font-size: 120px;
    }
    .main-skills-three{
        height: 50px;
        padding: 10px 0px;
    }
    .main-skills-three-text{
        bottom: -250%;
    }
    .main-skills-two-title{
        font-size: 16px;
        line-height: 20px;
        max-width: 350px;
    }
    .header-left{
        width: 150px;
    }
    .header-left > img {
        width: 100%;
    }
    .main-title{
        font-size: 34px;
        line-height: 40px;
    }
    .text-tehnosoft{
        font-size: 45px;
        line-height: 48px;
    }
    .footer-links{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .footer-allrigts{
        text-align: center;
    }
    .main-contact-block-left-inner{
        display: block;
    }
    .buttom{
        width: 100%;
    }
    .main-content-info-title{
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .main-content-info-desc{
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 20px;
    }
    .main-button-croll > span{
        font-size: 16px;
    }
    .main-button-croll > img{
        width: 15px;
    }
    .main-contact-block-title{
        font-size: 28px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .main-contact-block-desc{
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 20px;
    }
    .main-contact-block-right > iframe{
        height: 200px;
    }
    .logo-clients{
        width: 200px;
        height: 200px;
    }
    .slider-client{
        width: 200px !important;
    }
    .main-clients{
        padding: 0px 0px 100px 0px ;
    }
    .buttom{
        min-width: 100px;
    }
    .parallax-sloy1{
        width: 250%;
        right: -15%;
    }
    .parallax-sloy2{
        width: 250%;
        right: -15%;
    }
    .text-tehnosoft > span{
        margin-left: 0;
        margin: auto;
    }
    .main-inner{
        background: linear-gradient(to right, #000000 59%, #257680 41%);
    }
}
@media (max-width: 464px) {
    .main-skills-two-title{
        margin-right: -20px;
        max-width: 270px;
    }
}